* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
 height: 100%;
 width: 100%;
 background-image: url(./images/sqbackground.png);
 background-size: cover;
 background-repeat: no-repeat;
 color: white;
}

.bg-contain{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    position: relative;
}

header{
    width: 100%;
    height: 10%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo{
    width: 20%;
    height: 100%;
}

.logo img{
    width: 100%;
    height: 100%;
    color: white;
    /* background-color: #fff; */
    width: fit-content;
}

ul{
    width: 35%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

ul li:hover{
    border-bottom: 2px solid #880d40;
}



.squid-main{
    width: 100%;
    height: 90%;
    /* border: 2px solid black; */
    /* background-color: #f3f3; */
    display: flex;
    align-items: start;
    justify-content: center;
}

.squid-container{
    width: 90%;
    height: 90%;
    /* background-color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.squid-game{
    width: 40%;
    height: 70%;
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    padding: 6px;
    
}
.squid-game img{
    height: 70%;
    /* width: 100%; */
    width: fit-content;
    /* background-color: #f3f3; */
}

.squid-btn{
    margin-top: 12px;
    width: 100%;
    height: 20%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    /* background-color: #111; */
    gap: 12px;
    
}

.play{
    height: 100%;
    width: 50%;
    background: linear-gradient(to right, #b71953, #c55d1a);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 4px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
}

button{
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
}

.squid-btn div:hover{
    filter: drop-shadow(0px 0px 10px #dd4f8a);
    -webkit-filter: drop-shadow(0px 0px 10px #dd4f8a);
}

.watch{
    height: 100%;
    width: 50%;
    border: 4px solid #65193c;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    padding: 4px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    border-radius: 12px;
}

.squid-game1{
    height: 100%;
    width: 100%;
    /* border: 2px solid gray; */
    width: 50%;
    display: flex;
    align-items: start;
    justify-content: start;
    
}

.masked-man{
    /* margin-top: 20%; */
    height: 100%;
    width: 95%;
    filter: drop-shadow(-11px 0px 30px rgba(0, 0, 0, 0.393));
    -webkit-filter: drop-shadow(-11px 0px 30px rgba(0, 0, 0, 0.393));
    /* background-color: #fff; */
}

.masked-man img{
    height: 100%;
    width: 100%;
    /* filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.393));
    -webkit-filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.393)); */
}

.scroll-line{
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* rotate: -90deg; */
    gap: 35px;
    /* border: 2px solid red; */
}

.scroll-line hr{
    /* rotate: -90deg; */
    width: 5%;
    height: 15%;
    border:none;
    /* border: 4px solid black;  */
    background: linear-gradient(to right, #b71953, #c55d1a);
}

.scroll-line p{
    rotate: -90deg;
}

.main-social-icon{
    width: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 14px;
    color: #65193c;
}

.trailer-collect{
    height: 28%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(to bottom left, #32082d, #880d40);
    position: absolute;
    bottom: -18%;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px;
    filter: drop-shadow(0px 8px 20px #880d40);
    -webkit-filter: drop-shadow(0px 8px 20px #880d40);

    margin-bottom: 4px;
}


.trailer{
    height: 90%;
    width: 23.3%;
    border: 1px solid red;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px;
    overflow: hidden;
    position: relative;
}

.trailer img{
    height: 100%;
    width: 100%;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
    border-radius: 14px;
    /* position: relative; */
}

.trailer i{
    position: absolute;
    bottom: 16%;
    right: 6%;
    font-size: 100%;
    color: #ffffff;
}
